*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

div.main-singup{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: grey;
}

#logo-signup{
    width:150px;
}

h1.titulo-sinup{
    text-align: center;
}
h4.text-redessoci{
    display:flex;
    align-items: center;
    color:white;
    font-size: 18px;
    font-weight: 700;

}
div.botones-signup{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 100%;
}
div.botones-signup button{
    width: 80%;
        height: 40px;
        margin: 15px auto;
        color: white;
        font-weight: bolder;
        font-size: 15px;
        background-color: rgb(73, 70, 70);
        box-shadow: 5px 5px 10px -3px black;
        border: none;
        border-radius: 5px;
}

div.botones-redessoci{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 100%;
}
div.botones-redessoci button{
        width: 70%;
        height: 30px;
        margin: 15px auto;
        color: white;
        font-weight: bolder;
        font-size: 15px;
        background-color: #004F9D;
        box-shadow: 5px 5px 10px -3px black;
        border:none;
        border-radius: 20px;

}
div.botones-signin button:hover {
    cursor: pointer;
    transform: scale(1.02);
    
}
