.boton {
	/* Auto Layout */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 90px;

	position: absolute;
	width: 299px;
	height: 48px;
	left: 31px;
	top: 592px;

	/* Acento/Fucsia */

	background: #e83f6f;
	color: white;
	/* Principal shadow */

	box-shadow: 0px 5px 10px rgba(8, 43, 28, 0.25);
	border-radius: 10px;
}

.boton1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 90px;

	position: absolute;
	width: 299px;
	height: 48px;
	left: 31px;
	top: 700px;

	/* Primario/Verde light 97 */

	background: #f2fdf8;
	/* Principal shadow */

	box-shadow: 0px 5px 10px rgba(8, 43, 28, 0.25);
	border-radius: 10px;
}

.form-inner {
	position: absolute;
	width: 375px;
	height: 807px;
	left: 0px;
	top: 305px;

	/* Primario/Verde */

	background: #69e5af;
	border-radius: 50px 50px 0px 0px;
}

.form-control-email {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	height: 44px;
	width: 299px;
	left: 30px;
	top: 30%;
	border-radius: 0px;
	background: #ffffff;
}

.form-control-password {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	height: 44px;
	width: 299px;
	left: 30px;
	top: 40%;
	border-radius: 0px;
	background: #ffffff;
}

::placeholder {
	position: absolute;
	height: 24px;
	left: 5.15%;
	right: 50.13%;
	top: calc(50% - 24px / 2 + 1px);

	/* Poppins/sh1 regular 16 */

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	letter-spacing: 0.0015em;

	/* Label / Light / Tertiary */

	color: rgba(60, 60, 67, 0.3);
}

.recuerdo {
	position: absolute;
	width: 80px;
	height: 18px;
	left: 222px;
	top: 513px;

	/* Poppins/sh2 bold 12 */

	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	/* identical to box height */

	letter-spacing: 0.001em;

	color: #ffffff;
}
.check-recuerdo {
	background: #ffffff;
	top: 100px;
}
.check-group {
	display: inline-block;
}
.logo {
	position: absolute;
	height: 30%;
	width: 15%;
	left: 30px;

	/* Primario/Verde Dark 10 */
}
